@{
    ViewBag.Title = "Home Page";
}

<!-- Jumbotron -->
<div class="jumbotron">
    <h1>Campaña de castración de animales callejeros</h1>
    <p class="lead">La principal ventaja de la castración animal es: <b>Vivir una vida más larga y más sana.</b></p>
</div>
<div class="row">
    <div class="col-md-4"><p>Ayuda a prevenir las infecciones uterinas y el cáncer de mama, el cual es fatal en alrededor del 50 por ciento de los perros y 90 por ciento de los gatos. Además de prevenir crías no deseadas, previene el cáncer a los testículos.</p></div>
    <div class="col-md-6"><img src="~/Content/images/perroIntro.jpg"  class="img-circle" alt="Cinque Terre"></div>
</div>

